PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ufc_helpdesk?schema=public"
JWT_SECRET="ufc_helpdesk_jwt_secret_key_2026_secure"
UPLOAD_DIR="./uploads"
CLIENT_URL="http://localhost:5173"
NODE_ENV="development"
